<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ymt.cloudpos">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".core.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.LaunchActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppLaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".view.AccountCheckActivity" />
        <activity android:name=".view.PhoneCheckActivity" />
        <activity android:name=".view.ModifyPasswordActivity" />
        <activity android:name=".view.RentDepositActivity" />
        <activity
            android:name=".view.EffectInsuranceActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".view.SelectInsuranceAgentActivity" />
        <activity android:name=".view.InsuranceAgentUploadPInfoActivity" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/customTheme" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/customTheme" />
        <activity android:name=".view.RenewalInsuranceActivity" />
        <activity android:name=".view.RenewalInsuranceTypeActivity" />
        <activity android:name=".view.LastYearsDangerActivity" />
        <activity android:name=".view.ClaimSettlementActivity"></activity>
    </application>

</manifest>